body {
   /* background-image: url("/supportingFolder/rect2_bg.jpg"); */
   background-color: rgba(8, 8, 8, 0.888);
   font-family: Arial, sans-serif;
   color: white;
 }

 .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
 }
 .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
 }
 .navbar a:hover {
    background-color: #000000;
 }
 .navbar li {
  float: left;
  }

  h1 {
   text-align: center;
 }

 h2 {
   text-align: left;
 }

#pic-quote {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   /* border: 5px solid orange; */
}

#spartan-img {
   z-index: 1;
   opacity: 0.2;
}

#quote-text {
  font-size: 40px;
  font-style: italic;
  font-family: "Kristi", serif;
  letter-spacing: 0.1em;
   color: orange;
  position: absolute;
   left: 30%;
   /* border: 1px solid pink; */
   /* width: 400px; */
   z-index: 2;
}
