body {
   /* background-image: url("/supportingFolder/rect2_bg.jpg"); */
   background-color: rgba(8, 8, 8, 0.888);
   font-family: Arial, sans-serif;
   color: white;
 }

 .navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
 }
 .navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
 }
 .navbar a:hover {
    background-color: #000000;
 }
 .navbar li {
  float: left;
  }

  h2 {
    text-align: center;
  }

#quote {
  font-size: 60px;
  font-style: italic;
  font-family: "Kristi", serif;
  letter-spacing: 0.1em;
}

#about-bg {
  /* background-image: url("/supportingFolder/spartan_quote_bg.jpg");
  /* background-size: cover; */
  background-position: cover; */
  padding: 20px;
  color: white;
  text-align: center;
}
#about-body {
  background-image: url("/supportingFolder/spartan_quote_bg.jpg");
  /* background-size: cover; */
  background-position: stretch;
  padding: 20px;
  color: white;
  text-align: center;
}

#quotep {
  float: right;
}

section > div {
  height: 200px;
  width: 50%;
  background-color: black;
  align: center;
}

.jp-position {
  color: orange;
}

.start-end-date {
  color: red;
  font-style: italic;
}